
.products-section {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 40px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.product-card {
  background:white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}

.product-image {
  position: relative;
  overflow: hidden;
  height: 209px;
  width: 207px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f4f7;
  margin: 0 auto;
  border-radius: 8px; 
}

.product-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}



.product-card:hover .product-image img {
  transform: scale(1.1);
}


.product-info {
  padding: 20px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.product-info h3 {
  font-size: 1.4rem;
  color: #34495e;
  margin-bottom: 10px;
}

.product-info .description {
  font-size: 0.9rem;
  color: #7f8c8d;
  flex-grow: 1;
  margin-bottom: 15px;
}

.product-info .price {
  font-size: 1.3rem;
  font-weight: bold;
  color: #27ae60;
  margin-bottom: 20px;
}

.submit-button {
    background-color: #7fb3d5;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 0.85rem;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    margin-top: auto;
}

.submit-button:hover {
    background-color: #5a9ec5;
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}
